<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mg.masmsestro">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditFolder"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.MainActivity" />
        </activity>
        <activity
            android:name=".DeleteFolder"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.MainActivity" />
        </activity>
        <activity
            android:name=".ConversationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.MainActivity" />

        </activity>

        <activity
            android:name=".ConversationMoveActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ConversationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.ConversationActivity" />

        </activity>

        <activity
            android:name=".ConversationDeleteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ConversationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.ConversationActivity" />

        </activity>

        <activity
            android:name=".SMSActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ConversationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.ConversationActivity" />
        </activity>

        <activity
            android:name=".SMSNewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.MainActivity" />
        </activity>


        <activity
            android:name=".SMSDeleteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ConversationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.ConversationActivity" />
        </activity>

        <activity
            android:name=".RuleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.MainActivity" />
        </activity>

        <activity
            android:name=".RuleDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".RuleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.RuleActivity" />
        </activity>

        <activity
            android:name=".RuleDeleteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".RuleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mg.masmsestro.RuleActivity" />
        </activity>

        <receiver android:name=".IncomingSms">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <receiver android:name=".NotificationReceiver">
            <intent-filter>
                <action android:name="mg.masmsestro.MarkAsRead"/>
                <action android:name="mg.masmsestro.Delete"/>

            </intent-filter>
        </receiver>

    <activity
        android:name="mg.masmsestro.AndroidDatabaseManager"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="@string/app_name">
    </activity>


    </application>

</manifest>